<div class="events-list">
  {{> navbar}}
  <div class="events">
    <h1>NEW EVENT</h1>
    <hr>
    <div class="create">
      <form action="/events/{{id}}/create" method="POST">

        <div class="field">
          <label>Showtime</label>
          <select id="time-select" name="showtime" value="{{showtime}}">
            <option value="17:00">17:00</option>
            <option value="18:30">18:30</option>
            <option value="20:00">20:00</option>
            <option value="21:30">21:30</option>
            <option value="23:00">23:00</option>
          </select>
        </div>

        <div class="field">
          <label>Date</label>
          <input type="date" name="inputDate" value="{{date}}"/>
        </div>

        <input type="hidden" name="escapeRoom" value="{{id}}"/>
        
        <div class="field submit">
          <button type="submit">SAVE</button>
        </div>
      </form>
      {{> flash2}}
    </div>
  </div>
</div>
