
<h1>Login</h1>
<form action="/auth/login" method="POST">
<div class="field">
  <label>Username</label>
  <input type="text" name="username">
</div>

<div class="field">
  <label>Password</label>
  <input type="password" name="password">
</div>


<div class="field submit">
  <button type="submit">Login</button>
</div>

<a href="/auth/signup">Sign Up</a>

</form>

{{> flash}}

