<div class="login">
  <img class="escape-room-logo" src="../images/labyrinth.png" alt="logo">
  <form action="/auth/login" method="POST">
    <div class="field">
      <label>Username</label>
      <input type="text" name="username">
    </div>

    <div class="field">
      <label>Password</label>
      <input type="password" name="password">
    </div>

    <div class="field submit">
      <button type="submit">Login</button>
    </div>

    <a href="/auth/signup">or Sign Up</a>
  </form>

  {{> flash}}
</div>
