<div class="login-signup">
  <img class="escape-room-logo" src="../images/labyrinth.png" alt="logo">
  <form method="POST" action="/auth/signup">
    <div class="field" >
      <label>Username</label>
      <input type="text" name="username"/>
    </div>

    <div class="field">
      <label>Password</label>
      <input type="password" name="password"/>
    </div>

    <div class="field submit">
      <button class="join" type="submit">Signup</button>
    </div>
    <a href="/auth/login">or Login</a>
  </form>

  {{> flash}}
</div>
