<div class="events-list">
  {{> navbar}}
  <div id="profile" class="login events">
    <h1>{{user.username}}'s profile</h1>
    <form action="/profile/edit" method="POST" enctype="multipart/form-data">
      <div>
        <label>Your image</label>
        <input type="file" name="image" value="{{user.imageUrl}}">
      </div>
      <div>
        <label>Username</label>
        <input type="text" name="username" value="{{user.username}}">
      </div>
      <div>
        <label>Description</label>
        <input type="text" name="description" value="{{user.description}}">
      </div>
      <button type="submit">Edit</button>
    </form>
    {{> flashedit}}
  </div>
</div>
