<div class="events-list">
  {{> navbar}}
  <div id="profile" class="login events edit">
    <h1>{{user.username}}'s profile</h1>
    <form class="center-edit" action="/profile/edit" method="POST" enctype="multipart/form-data">
      <div>
        <img id="profile-img" src="{{user.imageUrl}}" alt="">
        <label>Your image</label>
        <input type="file" name="image" style="color: transparent" placeholder="Choose new image">
      </div>
      <div>
        <label>Username</label>
        <input type="text" name="username" value="{{user.username}}">
      </div>
      <div>
        <label>Description</label>
        <input type="text" name="description" value="{{user.description}}">
      </div>
      <button class="join" type="submit">Edit</button>
    </form>
    {{> flashedit}}
  </div>
</div>
