<div class="events-list">
  {{> navbar}}
  <div id="profile" class="events">
    <a href="/">homepage</a>
    <h1>{{user.username}} profile</h1>
    <img src="{{user.imageUrl}}" alt="user image">
    <p>{{user.description}}</p>
    <a href="/profile/edit">Edit profile</a>
  </div>
</div>
