<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/drkujr1xv/image/upload/v1552402698/project_2_images/Untitled.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {{!-- no poner la ruta con punto!!! sino la ruta sera relativa y solo lo encontrara el layout --}}
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css"/>
    <title>Escape</title>
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/main.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/slick.min.js"></script>
    <script type="text/javascript" src="/javascripts/slick.js"></script>
    <script type="text/javascript">
      $().ready(function(){
        $('.slick-carousel').slick({
          arrows: true,
          centerPadding: "0px",
          dots: true,
          slidesToShow: 1,
          infinite: false
        });
      });
    </script>
  </body>
</html>

