<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/drkujr1xv/image/upload/v1552402698/project_2_images/Untitled.png">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {{!-- no poner la ruta con punto!!! sino la ruta sera relativa y solo lo encontrara el layout --}}
    <link rel="stylesheet" href="/stylesheets/style.css">  
    <title>Escape</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
