body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.escape-room-logo {
  width: 50px;
  height: auto;
}

img {
  width:70vw;
  height: auto;
}
