body {
  margin: 0;
  padding: 0;
  font: 14px 'Lato', Helvetica, Arial, sans-serif;
}

.escape-room-logo {
  width: 50px;
  height: auto;
}

nav {
height: 8vh;
background-color: #1a1a1a;
color: rgb(245, 245, 245);
display: fixed;
}
