<div class="events-list">
  {{> navbar}}
  <div class="events escape-rooms">
    <h1>ESCAPE ROOMS</h1>
    <ul>
      {{#each escapeRoom}}
        <li class="escape-rooms">
          <img src="{{this.image}}" alt="{{this.name}}">
          <h2 class="name">{{this.name}}</h2>
          <a class="new new-list" href="/escape/{{this._id}}">SEE MORE</a>
        </li>
      {{/each}}
    </ul>
  </div>
  <div id="footer" class="escapes-link">
    <a href="../events/list">Events</a>
  </div>
</div>