<div class="events-list">
  {{> navbar}}
  <div class="events">
    <h1>ESCAPE ROOMS</h1>
    <hr>
    <ul>
      {{#each escapeRoom}}
        <li>
          <img src="{{this.image}}" alt="{{this.name}}">
          <p class="name">{{this.name}}</p>
          <a class="join" href="/escape/{{this._id}}">NEW</a>
        </li>
      {{/each}}
    </ul>
  </div>
  <div id="footer" class="escapes-link">
    <a href="../events/list">Events</a>
  </div>
</div>